@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --color-deep-blue: #002057;
    --color-orange: #ff7b00;
    --color-royal-blue: #2506ad;
    --color-light-pink: rgb(115, 3, 167);
    --color-light-green: rgb(34, 109, 0);
    --color-light-yellow: rgb(255, 230, 0);
    --color-dark-white: rgb(255, 255, 255);
    --color-light-blue: rgb(0, 217, 255);
    --background-color: #e5ecfb;
    --color-green: rgb(34, 109, 0);
    --social-background: rgba(160, 36, 243, 0.3);
    --skills-bg: linear-gradient(rgb(87, 5, 158), rgb(74, 0, 224));
}


* {
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    text-transform: capitalize;
}

.main {
    overflow-x: hidden;
}

body {
    background-color: black;
    color: white;
    /* background-color: #2506ad; */
    font-family: 'Lato', sans-serif;
    /* overflow-x: hidden; */
}

.active-header {
    background-color: blue;
    box-shadow: 0 1px 4px rgb(146 161 176 / 30%);
}

.header {
    width: 100%;
    position: fixed;
    ;
    z-index: 1000;
}
.error1,.error2,.error3{
    font-size: 12px;
    color: red;
    padding-left: 5px;
}
.online{
    background-color: red;
    border-radius: 2px;
    border: none;
    width: 100%;
}
.mobile {
    display: none;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 50%;
}

.nav {
    width: 50%;
}

.nav-menu {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.display {
    opacity: 0;
    transition: all 2s ease-in-out;
}

.active {
    opacity: 1;
}


.hamburger {
    font-size: 20px;
}



ul {
    list-style: none;
}



.introduction {

    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 200px;
    /* background-color: red; */
    z-index: 1000;

}

.hi {
    line-height: 1.7;
}

.img-container {
    /* width: 250px; */
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ff7b00;
    background-image: url(/assets/images/xertified.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* border: 1px solid blue; */
}

.hero {
    width: 300px;
    width: 200px;
    height: 300px;
    border-radius: 50%;

}

.logo {
    text-transform: uppercase;
}

.fa-napster {
    font-size: 20px;
}

.label-details {
    letter-spacing: 1.2px;
    font-size: 15px;
    font-weight: 300;
}

.wrapper {
    padding: 10px 0;
}

.social-intro {
    width: 50%;
    /* border: 1px solid blue; */
}

.social-intro>.hi {
    font-size: 20px;
    text-transform: capitalize;

}

.navigation {
    background-color: red;
    width: 100px;
    text-align: center;
    padding: 15px 10px;
    border-radius: 5px;
}

.gallery {
    padding: 20px 0;
    width: 100%;
    position: relative;

}




.project-btn {

    padding: 10px 30px;
    border: none;
    background-color: var(--color-light-yellow);
    color: #2506ad;
    font-size: 16px;
    border-radius: 5px;
}



.life-img-gallery {
    width: 70%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    column-gap: 4px;
    justify-content: center;
}

.life-img-gallery>.lifeimg {
    width: 10%;
}

.span {
    color: var(--color-orange);
}

.chevron {
    position: absolute;
    top: 40%;
    font-size: 30px;
}

.fa-chevron-left {
    left: 12%;
}

.fa-chevron-right {
    left: 86%;
}

.button-container {
    width: 100%;
    padding: 5px 0;
}

.about-btn {
    padding: 15px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    color: var(--color-royal-blue);
    font-size: 15px;
    border: 1px solid var(--color-royal-blue);
}


/* wait for now */

fieldset {
    border-bottom: none;
    border-right: none;
    border-left: none;
}

.social-container {
    width: 100%;
    padding: 15px 0;
}

.social-container>.social-menu {
    list-style: none;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;


}

.section-container {
    width: 100%;
}

.social-menu>.social-items {

    width: 50px;
    height: 50px;
    display: flex;

    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--color-deep-blue);
}

@keyframes xertified {
    20% {
        background-color: red;
        border-color: var(--color-orange);
    }

    40% {
        background-color: var(--color-orange);
    }

    60% {
        background-color: var(--color-light-green);
    }

    80% {
        background-color: #ff7b00;
    }

    100% {
        background-color: var(--color-deep-blue);
    }
}

.social-items .fa-brands {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-light-blue);
    padding: 10px 0;
}



.span:hover {
    animation-name: span;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: ease-in;
    position: relative;
    animation-duration: 3s;
}

@keyframes span {
    20% {
        left: 5px;
    }

    100% {
        left: 0;
    }
}

.about-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 20px;
}

.fa-user {
    font-size: 25px;
}

.me {
    padding-left: 5px;
    color: var(--color-light-pink);
}

.container {
    width: 90%;
    margin: 0 auto;

}

.my-img-container {
    width: 20%;
    object-fit: cover;
    /* border: 1px  solid red; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.my-img-container>.xerty-img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}


.xerty-img:hover {
    will-change: transform;
    transition: all 0.3s ease;
    mix-blend-mode: normal;
    transform: perspective(1000px) rotateX(0deg) scale3d(1, 1, 1) rotateY(0deg) translate(20deg);
}

.flex-name-address {

    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    /* border: 1px solid  red; */
    font-family: 'Nunito', sans-serif;
    margin-top: 50px;

}

.address {
    width: 50%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;

}

.name-add {
    line-height: 1.4;
    letter-spacing: 1.2px;
}

.name-add>.my-name {
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: white;
    font-weight: bolder;
    font-size: 25px;
    text-transform: capitalize;
}

.name-add>.front {
    padding-top: 17px;
    font-size: 16px;
    line-height: 1.6;
    /* width: 100%; */
}

.name-add>.dev {
    text-transform: capitalize;
}



.edu-container {
    padding-top: 30px;
    padding-bottom: 70px;
    width: 100%;
    margin-top: 20px;
    /* background-color: var(--background-color); */
    font-family: 'Nunito', sans-serif;
}

.edu-container>.education {
    width: 85%;
    margin: 0 auto;

}

.edu-cap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    column-gap: 5px;
}

.fa-graduation-cap {
    font-size: 30px;
}

.notice {
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

a {
    color: white;
    text-decoration: none;

}

.cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;


}


.card {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    column-gap: 5px;
    transition: all all 0.2s;
    border: 1px;
    scale: 1;
    box-shadow: 0 1px 4px rgb(146 161 176 / 30%);
}

.card:hover {
    scale: 1.01;
}

.flex-img {
    width: 30%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.funaab {
    width: 100%;
}

.flex-content {
    line-height: 1.8;
    border-radius: 10px;
    width: 70%;
    background-color: white;
    box-shadow: 0 1px 4px rgb(146 161 176 / 30%);
    transition: all 0.2s ease-out;
    scale: 1;
    /* padding: 0 10px; */
}

.flex-content>h4 {

    color: black;
}

.flex-content:hover {
    scale: 1.01;
}

.edu-header {
    font-weight: 900;
    padding-left: 10px;
    color: var(--color-light-pink);
}

.bachelor {
    color: var(--color-deep-blue);
}

.year {
    color: var(--color-light-green);
}

.project-container {

    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.my-project {
    background-color: var(--color-deep-blue);
}

.project-skills {
    font-size: 25px;
    padding: 20px 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    column-gap: 5px;
}

.fa-laptop-code {
    font-size: 35px;
}

.made {
    color: var(--color-light-yellow);
    font-weight: 900;
}


.box-content {
    margin-top: 20px;
}


.static {
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 25px;
    text-transform: capitalize;
}

.typing {
    position: relative;
    animation-name: typing;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-duration: 2s;
    /* background-color: #232427; */
    font-weight: 900;
    color: var(--color-light-pink);
    font-family: serif;
}

.project-slider {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.project-images-container {
    width: 100%;
}

.btn-cont-all {
    display: flex;
    justify-content: center;
}

.view {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 17px;
    background-color: var(--color-orange);
    text-transform: capitalize;
}

.slider1 {
    width: 100%;
    border-radius: 10px;
}

@keyframes typing {
    20% {
        color: red;

    }

    40% {
        color: var(--color-orange);
    }

    60% {
        color: var(--color-light-green);
    }

    80% {
        color: #ff7b00;
    }

    100% {
        color: var(--color-deep-blue);
    }
}

.fa-user {

    font-size: 19px;

}


.footer {
    width: 100%;
    background-color: rgb(0, 1, 43);
}

.footer-flex {
    display: flex;
    width: 100%;
    font-size: 15px;
    /* align-items: center; */
    column-gap: 30px;
    /* justify-content: space-between; */
    color: rgb(238, 238, 238);
}

.footer-box {
    width: 40%;
    color: white;
    padding: 20px 0;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

.portfolio-msg,
.contact-menu {
    color: #ccc;
    font-size: 15px;
    padding: 0;
}

.quick-menu {
    width: 50%;
    padding: 0;
}

.portfolio-heading {
    padding: 10px 0;
}

.quick-list:hover {
    color: #ffae00;
}

.quick-list {
    padding-bottom: 10px;
}

.contact-list {
    padding-bottom: 10px;
}

.contact-box {
    width: 90%;
    margin: 0 auto;

    /* border: 1px solid red; */
    display: flex;
    padding: 70px 0;

}

input {
    width: 100%;
    padding: 10px 10px;
    margin: 5px 0;
    border-radius: 5px;
    /* border: 1px solid red; */
    background-color: #ccc;
    outline: none;
}

::placeholder {
    color: black;
    text-transform: capitalize;
}

.help {
    padding: 30px 10px;
}

.form-btn {
    width: 100%;
    display: flex;
    justify-content: end;

}

.send-btn {
    padding: 13px 10px;
    background-color: var(--color-orange);
    color: var(--color-dark-white);
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
}

.contact-heading {
    width: 40%;
    font-size: 15px;
    font-weight: 300;
    text-transform: capitalize;
}

.contact-heading>h2 {
    font-size: 25px;
    color: #ff7b00;
}

.contact-heading>p {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
}

.yellow {
    color: #ffae00;
}

.footer-social-icon {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 20px 0;
}

.my-form {
    width: 50%;
    /* border: 1px solid red; */
    display: block;

}



.copyright {
    text-align: center;
    color: #ccc;
    padding: 5px 0;
}

.flex-address {
    width: 100%;
}

.fa-container {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.footer-name {
    color: #ffae00;
}



.fa-location-dot,
.fa-envelope,
.fa-user {
    font-size: 17px;
    color: red;
}

.fa-heart {
    color: red;
}

.mobile {
    /* display: none; */
}

.section {
    width: 100%;
}

.box-all {
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
}

.box-all .box {
    width: 30%;
    height: 250px;
    /* border: 1px solid red; */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;

}

@keyframes box {
    0% {
        transform: scaleX(2%);
    }

    100% {
        transform: scaleY(5%);
    }
}

.one {
    background-image: url(/assets/images/cttaste.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.two {
    background-image: url(/assets/images/huntr.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.three {
    background-image: url(/assets/images/samsung.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.four {
    background-image: url(/assets/images/bitcoin.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.five {
    background-image: url(/assets/images/sendna.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.six {
    background-image: url(/assets/images/validator.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.seven {
    background-image: url(/assets/images/portfo.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.eight {
    background-image: url(/assets/images/tsf-bank.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nine {
    background-image: url(/assets/images/calc.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ten {
    background-image: url(/assets/images/composey.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box>.article {
    display: none;
    position: absolute;

}

.box:hover .article {
    display: block;
}

.article-heading {
    margin-top: 45px;
    padding: 10px;
    background-color: #ffae00;
    text-align: center;
    border-radius: 5px;
    text-transform: capitalize;
}

.mobile {
    display: none;
}

.article-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.article-content {
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
    /* background-color: #e5ecfb; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
    /* opacity: 0.7; */
    z-index: 5;
    animation: article 5s ease-in-out;
    font-weight: 300;
    background-color: #e5ecfb;

}

@keyframes article {
    0% {
        transform: translateY(25%);

    }
}

.btn-article {
    padding: 10px 25px;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-transform: capitalize;
}

.btn-article:hover {
    background-color: #2506ad;
}

.skills-heading {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px;
}

.fa-code {
    font-size: 25px;
}

.ability {
    color: var(--color-light-yellow);
}

.skills-box {
    padding: 40px 0;
    text-transform: capitalize;
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    justify-content: center;
    gap: 30px;

}

.cv {
    color: black;
    font-weight: 400;
    font-size: 17px;
}

.display-items {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    background: rgba(0, 0, 22, 0.9);
    border-radius: 7px;
    width: 10%;
    height: 100px;
}

.skill-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-items {
    text-align: center;

}

.skills-bg {
    background: var(--skills-bg);
}

.react {
    width: 40%;
}















@media screen and (max-width:600px) {
    body {
        overflow-x: none;
    }

    .static {
        font-size: 17px;
    }

    .separate {
        width: 100%;
    }

    .hero {
        display: none;
    }

    .intro-container {
        display: block;
    }

    .introduction {
        width: 100%;
        height: 50vh;
        display: block;
        padding-top: 100px;
        text-align: center;
    }

    .header {
        width: 100%;
        /* position: fixed; */
        top: 0;
        /* right: 0; */
        background: red;
    }

    .header-flex {
        display: flex;
        width: 100%;
        /* display: none; */
    }

    .img-container {
        width: 70%;
        margin: 0 auto;
    }

    .hero {
        width: 100%;
    }

    .my-img-container {
        width: 80%;
        margin: 0 auto;
    }

    .xerty-img {
        width: 100%;
    }

    .name-add {
        padding: 10px 0;
        display: block;
        width: 100%;
    }

    .address {
        width: 100%;
    }

    .my-name,
    .dev {
        text-align: center;
    }

    .address {
        width: 100%;
    }

    .new-address {
        display: block;
        width: 100%;
        font-size: 13px;
    }

    .education {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .cards {
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
    }

    .card {
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .flex-img {
        width: 100%;
    }

    .funaab {
        width: 100%;
    }

    .flex-content {
        width: 100%;
    }

    .project-container {
        width: 100%;
    }



    .get-in-touch-container {
        width: 100%;
    }


    .footer {
        width: 100%;
    }

    .footer-flex {
        display: block;
        width: 100%;
    }

    footer {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .footer-box {
        width: 100%;
    }

    .project-slider {
        width: 100%;
    }

    .project-images-container {
        width: 100%;
    }

    .slider1 {
        width: 100%;
    }

    .box-all {
        width: 100%;
        display: block;

    }

    .box-all .box {
        width: 100%;
        margin-bottom: 15px;

    }

    .name-add>.front {
        text-align: center;
        font-size: 12px;
    }

    .flex-name-address {
        display: block;
    }

    .name-add>.my-name {
        justify-content: center;
    }

    .label-details>p {
        font-size: 14px;
        text-align: center;
    }

    .life-img-gallery {
        width: 80%;
        height: 40px;
    }

    .fa-chevron-left {
        left: 3%;
    }

    .fa-chevron-right {
        left: 90%;
    }

    .chevron {
        top: 30%;

    }

    .contact-box {
        display: block;
    }

    .contact-heading {
        width: 100%;

    }

    .contact-heading>h2 {
        text-align: center;
        padding-bottom: 10px;
    }

    .my-form {
        width: 100%;
    }

    .contact-heading>p {
        display: none;
    }

    .social-intro {
        width: 100%;

    }

    .social-container>.social-menu {
        display: none;
    }

    .img-container {
        display: none;
    }

    .col {
        display: block;
    }

    .row {
        width: 100%;
        margin: 10px 0;
        border: 1px solid rgba(255, 248, 220, 0.254);
        border-radius: 5px;
    }

    .hide {
        display: none;
    }

    .show {
        display: flex;
    }

    .skills-box {
        /* display: block; */
        flex-wrap: wrap;
    }

    .display-items {
        width: 40%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        width: 50%;
    }

    .mobile>.hamburger {
        display: flex;
        justify-content: end;
    }

    .nav-menu {
        width: 100%;
        height: 100vh;
        left: 0;
        top: 50px;
        position: fixed;
        background: red;
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


}